

section{
    &.contacta-con-nosotros{
        .wrap{
            width:450px;
        }
        h2{
        }
        p{
            span{
            }
        }
        form{
            label,span{
            }
            label{
            }
            span{
            }
            input[type="text"],input[type="email"],textarea,button{
            }
            input[type="text"],input[type="email"],textarea{
            }
            input[type="text"],input[type="email"]{
            }
            textarea{
            }   
            button{
                &:hover{
                }
            }
            .form-group{
                &:last-of-type{
                    label{
                    }
                }
            }
        }
    }
}