section{
    &.contacta-con-nosotros{
        background-color: $bg_color_oscuro_uno;
        color:white;
        padding:4em 30px;
        .wrap{
            width:100%;
            margin: 0 auto;
        }
        h2{
            margin:0px;
            color:inherit;
            text-align: center;
            margin-bottom: 30px;
        }
        p{
            &.cuerpo{
                color:inherit;
                font-size:$fuente__parrafo_mobile;
                text-align:justify;
                margin-bottom: 15px;
                span{
                    color:inherit;
                    margin:0px 10px;
                    font-size: 13px;
                }
            }
        }
        form{
            width:100%;

            label,span{
                position: absolute;
            }
            label{
                left:30px;
                color:grey;
            }
            span{
                top:7px;
                color:grey;
                left:7px;
            }
            input[type="text"],input[type="email"],textarea,button{
                border-radius: 0.2em;
            }

            input[type="text"],input[type="email"],textarea{
                width:100%;
                margin-bottom: 10px;
                padding-top:30px;
                padding-left:30px;
                padding-bottom:15px;
            }
            input[type="text"],input[type="email"]{
                height: 40px;
            }
            textarea{
                height: 100px;
            }   
            button{
                border:1px solid red;
                color:red;
                background-color: transparent;
                padding:10px 15px;
                align-content: center;
                text-align: center;
                margin: 0 auto;
                display: block;
                font-weight: bold;
                @include transition(all 0.3s);
                cursor:pointer;
                &:hover{
                    background-color: red;
                    color:inherit;
                    @include transition(all 0.3s);
                }
            }
            .form-group{
                position: relative;
                &:last-of-type{
                    label{
                        position: static;
                    }
                }
            }

        }
    }
    // formulario contacto.
    &.formulario-contacto{
        width:auto;
        margin: 0 30px 30px 30px;
    }
}