header{
    //- container flexbox
    .menu_up,nav,nav ul,.info_contacto,.wrap{
    }
    .menu_up{
        .wrap{
            max-width: $width;
            width:100%;
            margin:0 auto;
            @include justify-content(space-between);
        }
        .info_contacto,.info_redes{
            p {
                span{
                    &.text{
                    }
                }
            }
        }
        .info_contacto{

        }
        .info_redes{
            p{
                span{
                }
            }
        }
    }
    nav{
        .wrap{
            margin:0px auto;
            padding:0px;
        }
        .logo{
            img {
            }
        }
        ul{
            li{
                a{
                    &:last-child{
                    }
                }
            }
        }
        .cont_search{
            span{
                &.fas{
                }
            }
            form{
            }
        }
        &.sticky{
            .wrap{
                margin:0 auto;
                padding:0px;
            }
            .logo{
            }
            ul{
                li{
                    a{
                    }
                }
            }
            .cont_search{
                span{
                    &.fas{
                    }
                }
            }
        }
    }
}