header{
    .menu_up,nav,nav ul,.info_contacto,.wrap{
    }
    .menu_up{
        @include flexbox();
        .wrap{
        }
        .info_contacto,.info_redes{
            p {
                span{
                    &.text{
                    }
                }
            }
        }
        .info_contacto{
        }
        .info_redes{
            p{
                span{
                    &:last-child{
                    }
                }
            }
        }
    }
    nav{
        .wrap{
        }
        .logo{
            img {
            }
        }
        span{
            &.fa-bars{
                display:none;
            }
        }
        ul{
            li{
                a{
                    &:hover{
                    }
                    &:last-child{
                    }
                }
            }
        }
        .cont_search{
            span{
                &.fas{
                }
            }
            form{
            }
        }
        &.sticky{
            .logo{
            }
            ul{
                li{
                    a{
                        &:hover{
                        }
                    }
                }
            }
            .cont_search{
                span{
                    &.fas{
                    }
                }
            }
        }
    }
    &.on_sticky{
        .menu_up{
        }
    }
}