header{
    //- container flexbox
    .menu_up,nav,nav ul,.info_contacto{
    }
    .menu_up{
        .info_contacto,.info_redes{
            p {
                span{
                    &.text{
                    }
                }
            }
        }
        .info_contacto{

        }
        .info_redes{
            p{
                span{
                }
            }
        }
    }
    nav{
        @include justify-content(flex-end);
        .wrap{
            max-width: $width;
            margin:0 20px;
            width:100%;
            span{
                &.fa-bars{
                    display: none;
                }
            }
            .menu{
                @include flexbox();
                @include flex-direction(row);
                @include flex-wrap(wrap);
            }
        }
        .logo{
        }
        ul{
            @include flexbox();
            li{
                a{
                    &:last-child{
                    }
                    &:hover{
                    }
                }
            }
        }
        .cont_search{
            form{
            }
        }
        &.sticky{
            ul{
                li{
                    a{
                        @include transition(all 0.3s);
                        // border-bottom:1px solid rgba(0,0,0,0.7);
                        &:hover{
                            color: $fuente__color_secondary !important;
                            border-bottom:1px solid rgba(225, 77, 67, 0.7);
                        }
                    }
                }
            }
        }
    }
}