header{
    z-index: 9999;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    .menu_up,nav,nav ul,.info_contacto,.wrap{
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
    }
    .menu_up{
        display: none;
        width:100%;
        background-color:rgba($color: #000000, $alpha: 0.2);
        color:rgba(255,255,255,.66);
        padding:0px 1em;
        .wrap{
            @include justify-content(space-between);
            width:100%;
        }
        .info_contacto,.info_redes{
            p {
                margin-right: 30px;
                font-size:0.87em;
                span{
                    margin-right: 10px;
                    &.text{
                        @include transition(all 0.3s);
                    }
                }
            }
        }
        .info_contacto{

        }
        .info_redes{
            p{
                margin-right: 0px;
                span{
                    margin:0px 10px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    nav{
        @include transition(background-color 0.3s);
        .wrap{
            @include justify-content(space-between);
            width:100%;
            padding:0 30px;
            span{
                &.fa-bars{
                    display: inline-block;
                    line-height: 57px;
                    color:white;
                    margin-right: 15px;
                    font-size: 25px;
                    cursor:pointer;
                }
            }
        }
        .menu{
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(center);
        }
        .logo{
            height: 0px;
            overflow: hidden;
            img {
                height: 100%;
            }
        }

        ul{
            list-style: none;
            display: none;
            li{
                margin-right: 20px;
                &:last-child{
                    margin-right: 0px;
                }
                a{
                    text-decoration: none;
                    display: inline-block;
                    vertical-align: middle;
                    padding:15px 0px;
                    padding-bottom: 2px;
                    @include transition(all 0.3s);
                    color:white;
                    border-bottom:1px solid transparent;
                    &:hover{
                        text-decoration: none;
                        border-bottom:1px solid white;
                    }
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
            &.showMenu{
                padding:25px;
                position: absolute;
                top:0px;
                left:0px;
                display: block !important;
                background-color: white;
                width:80%;
                li{

                    a{
                        color:black;
                        cursor:pointer;
                        width:100%;
                    }
                    border-bottom:1px solid white;
                    &:hover{
                        border-bottom:1px solid grey;
                    }
                }
            }
        }
        .cont_search{
            span{
                &.fas{
                    color:#ffffff ;
                    line-height: 57px;
                    font-size: 21px;
                }
            }
            form{
                display: none;
            }
        }
        &.sticky{
            z-index: 9999;
            padding-bottom: 10px;
            background-color: rgba(0,0,0,0.7);
            @include transition(background-color 0.3s);
            .logo{
                padding-top: 10px;
                padding-bottom: 10px;
                height: 50px;
                @include transition(height 0.3s);
            }

            .cont_search{
                span{
                    &.fas{
                        color:#ffffff ;
                    }
                }
            }
        }

    }
    &.on_sticky{
        .menu_up{
        }
    }
}