include ../includes/pug/variables.pug
section.nuestras-criticas
    //- h2 Nustras críticas
    .cont_info 
        article 
            img(src=path_image+"posproduccion.jpg") 
            h3 Preproducción 
            p Trabajamos desde el inicio del proyecto en la creación de la idea y el concepto, así como en el desarrollo de guión, storyboard y diseño de producción. Ofrecemos asesoramiento y gestión legal para proyectos audiovisuales.
        article 
            img(src="//via.placeholder.com/320x320") 
            h3 Rodaje
            p Disponemos de departamentos de dirección, realización, fotografía, arte, vestuario y maquillaje para dar soporte a todas las necesidades durante el rodaje.
        article 
            img(src="//via.placeholder.com/320x320") 
            h3 Postproducción
            p Ofrecemos los servicios de edición, corrección de color y etalonaje, VFX y postproducción de sonido. Gracias a la experiencia de nuestro equipo trabajamos para conseguir el mejor resultado final en cada proyecto.