include ../includes/pug/variables.pug
section.nuestras-criticas
    h2 Nustras críticas
    .cont_info 
        article 
            img(src="//via.placeholder.com/320x320") 
            h3 Dan Deacon - Mystic Familiar. 
            p 
                span.escritor Black gallego
                span.date 31 Enero, 2020.
            p.cuerpo Para quedarse a vivir. 
        article 
            img(src="//via.placeholder.com/320x320") 
            h3 Dan Deacon - Mystic Familiar. 
            p 
                span.escritor Black gallego
                span.date 31 Enero, 2020.
            p.cuerpo Para quedarse a vivir. 
        article 
            img(src="//via.placeholder.com/320x320") 
            h3 Dan Deacon - Mystic Familiar. 
            p 
                span.escritor Black gallego
                span.date 31 Enero, 2020.
            p.cuerpo Para quedarse a vivir. 
a