section{
    &.soluciones-integrales{
        .wrap{
            > p{
                &.cuerpo,&.text-small{
                }
                &.cuerpo {
                }
                &.text-small{
                }
            }
        }
        h2{
        }
        p{
            &.lineas{
                &::before,&::after{
                }
                span{
                    &.arrow{
                    }
                }
            }
        }
        .cont_article{
            article{
                padding: 0 50px;
                h3{
                    a{
                    }
                }
                p{
                    &.cuerpo{
                    }
                    a{
                        span{
                        }
                        &:hover{
                            span{
                            }
                        }
                    }
                }
            }
        }
    }
}