section{
    &.soluciones-integrales{
        // background-color: #edf0f2;
        // padding:4em 0em;
        .wrap{
            width:100%;
            margin: 0 auto;
            > p{
                &.cuerpo,&.text-small{
                    text-align: center;
                }
                padding:0px 1.8em;
                &.cuerpo {
                    color:inherit;
                    font-size:1.375em;
                    margin-bottom: 15px;
                }
                &.text-small{
                    font-size:1em;
                }
                
            }
        }
        h2{
            margin:0px;
            color:inherit;
            text-align: center;
            margin-bottom: 30px;
        }
        p{
            &.lineas{
                padding:0px;
                &::before,&::after{
                    background-color: #d7dde0;
                    width:45%;
                }
                span{
                    &.arrow{
                        border-color:#d7dde0;
                    }
                }
            }
        }
        .cont_article{
            padding:4em 30px;

            article{
                margin-bottom:50px;
                h3{
                    text-align: center;
                    color:black;
                    font-size:26px;
                    a{
                        color: inherit;
                    }
                }
                p{
                    text-align: center;
                    &.cuerpo{
                        font-size:16px;
                    }
                    a{
                        border:2px solid $fuente__color_secondary;
                        border-radius: 50%;
                        padding: 15px;
                        display: inline-block;
                        @include transition(background-color 0.3s);
                        overflow: hidden;
                        img{
                            width:70px;
                        }
                    }
                }
            }
        }
    }
}