section{
    &.los-mejores{
        max-width:$width;
        margin:0 auto;
        .buttons_controller{
            .controllers{
                > .swiper-button-next,
                > .swiper-button-prev{
                }
            }
        }

        .swiper-los-mejores{
            .swiper-slide{
                article{
                    img {
                    }
                    .cont_info{
                        h3{
                        }
                        p{
                            &.antetitulo{
                            }
                            &.cuerpo{
                            }
                        }
                    }
                }
            }
            .swiper-pagination{
            }
        }
    }
}