section{
    &.los-mejores{
        .buttons_controller{
            .controllers{
                > .swiper-button-next,
                > .swiper-button-prev{
                }
            }
        }

        .swiper-los-mejores{
            .swiper-slide{
                article{
                    $width_img:60%;
                    @include flex-direction(row);
                    img {
                        width:$width_img;
                        height:500px;
                    }
                    .cont_info{
                        width:(100% - $width_img  );
                        margin:0px;
                        h3{
                        }
                        p{
                            &.antetitulo{
                            }
                            &.cuerpo{
                            }
                        }
                    }
                }
            }
            .swiper-pagination{
                left:62%;
                width:auto;
            }
        }
    }
}