section{
    &.los-mejores{
        position: relative;
        margin-left: 20px;
        margin-right: 20px;
        .header_section{
            text-align: center;
            h2{
                font-family: $OSBold;
                font-size:$fuente__titulo;
            }
            p.entradilla{
                font-family: $OSRegular;
                font-size:$fuente__parrafo;
            }
        }
        .buttons_controller{
            position: static;
            display: block;
            height: 30px;
            padding:0px;
            margin:0px;
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-between);
            .text{
                font-family: $OSBold;
                font-size: $fuente__titulo;
            }
            .controllers{
                height: 100%;
                > .swiper-button-next,
                > .swiper-button-prev{
                    color:#000000;
                    position: static;
                    display: inline-block;
                    height: 100%;
                    top:0px;
                    margin-top:0px;                    
                }
            }
        }

        .swiper-los-mejores{
            margin-top:20px;
            overflow: hidden;
            .swiper-slide{
                width:100%;
                height:auto;
                article{
                    @include flexbox();
                    @include flex-direction(column);
                    img {
                        width:100%;
                    }
                    .cont_info{
                        width:90%;
                        padding:20px;
                        margin: 0 auto;
                        margin-top: -50px;
                        background-color: #ffffff;
                        h3{
                            font-family: $OSBold;
                        }
                        p{
                            &.antetitulo{
                                font-family: $OSSemiBold;
                                color:red;
                            }
                            &.cuerpo{
                                font-family: $OSRegular;

                            }
                        }
                    }
                }
            }
            .swiper-pagination{
                left:0px;
                width:100%;
            }
        }
    }
}