section.editorial
    .wrap
        article 
            img(src="//via.placeholder.com/500x500", alt="")
            h3 Jardines japoneses, un historial enredado pero siempre sustancial 
            p.fecha 31 enero, 2020
    .wrap
        article 
            img(src="//via.placeholder.com/500x500", alt="")
            h3 Jardines japoneses, un historial enredado pero siempre sustancial 
            p.fecha 31 enero, 2020