section{
    &.nuestras-criticas{
        max-width:$width;
        margin:inherit auto;
        h2{
            
        }
        .cont_info{
            @include justify-content(space-between);
            article{
                margin:0px;
                h3{
                }
                p{
                    &.cuerpo,span.escritor,span.date{
                    }
                    span{
                        &.escritor{
                        }
                        &.date{
                        }
                    }
                    &.cuerpo{
                    }
                }
            }
        }
    }
}