section{
    &.nuestras-criticas{
        h2{
        }
        .cont_info{
            article{
                h3{
                    font-size:$fuente__titulo; 
                }
                p{
                    &.cuerpo,span.escritor,span.date{
                        font-size:$fuente__parrafo;  
                    }
                    span{
                        &.date,&.escritor{
                            font-size:0.9em;
                        }
                        &.escritor{
                        }
                        &.date{
                        }
                    }
                    &.cuerpo{
                    }
                }
            }
        }
    }
}