section{
    &.nuestras-criticas{
        width:100%;
        margin: 30px auto;
        h2{
            font-family: $OSBold;
            text-align: center;
            margin:30px 0px;
        }
        .cont_info{
            @include flexbox();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            width:  auto;
            article{
                max-width:320px;
                width:100%;
                margin: 10px auto;
                img{
                    width:100%;
                }
                h3{
                    font-size:$fuente__titulo_mobile; 
                    font-family: $OSBold; 
                    margin-top:15px;
                }
                p{
                    &.cuerpo,span.escritor,span.date{
                        font-size:$fuente__parrafo_mobile;  
                    }
                    span{
                        &.escritor{
                            font-family: $OSBold; 
                            margin-right:10px;
                        }
                        &.date{
                            font-family: $OSLight; 
                        }
                    }
                    &.cuerpo{
                        font-family: $OSRegular; 
                    }
                }
            }
        }
    }
}