include ../includes/pug/variables.pug
section.los-mejores
    .header_section
        h2 Los mejores
        p.entradilla Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem nam porro atque iusto ad similique deleniti aut nobis repudiandae neque molestias, inventore odit, doloribus nisi veniam repellat maxime fugit officia.    
    .buttons_controller
        span.text Videoclips
        .controllers
            span.swiper-button-prev
            span.swiper-button-next
    .swiper-los-mejores
        .swiper-wrapper
            .swiper-slide
                article
                    img(src="//via.placeholder.com/500x500")
                    .cont_info
                        p.antetitulo LOREM 
                        h3 TITULO ARTICULO 0001 
                        p.cuerpo. 
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis molestias
                            dicta corporis voluptatem explicabo. Necessitatibus suscipit
                            odit soluta consequatur. Quisquam corporis est, excepturi 
                            eaque molestias dolor natus rerum in eum!
            .swiper-slide
                article
                    img(src="//via.placeholder.com/500x500")
                    .cont_info 
                        p.antetitulo LOREM 
                        h3 TITULO ARTICULO 0001 
                        p.cuerpo. 
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis molestias
                            dicta corporis voluptatem explicabo. Necessitatibus suscipit
                            odit soluta consequatur. Quisquam corporis est, excepturi 
                            eaque molestias dolor natus rerum in eum!
        //- Add Pagination
        .swiper-pagination
        //- Add Arrows
