
@font-face {
  font-family: $OSBold;
  src:url("fonts/"+$OSBold+".ttf") format('truetype');

}

@font-face {
  font-family: $OSBoldItalic;
  src:url("fonts/"+$OSBoldItalic+".ttf") format('truetype');
}


@font-face {
  font-family: $OSExtraBold;
  src:url("fonts/"+$OSExtraBold+".ttf") format('truetype');
}

@font-face {
  font-family: $OSExtraBoldItalic;
  src:url("fonts/"+$OSExtraBoldItalic+".ttf") format('truetype');
}

@font-face {
  font-family: $OSItalic;
  src:url("fonts/"+$OSItalic+".ttf") format('truetype');
}

@font-face {
  font-family: $OSLight;
  src:url("fonts/"+$OSLight+".ttf") format('truetype');
}

@font-face {
  font-family: $OSLightItalic;
  src:url("fonts/"+$OSLightItalic+".ttf") format('truetype');
}


@font-face {
  font-family: $OSRegular;
  src:url("fonts/"+$OSRegular+".ttf") format('truetype');
}

@font-face {
  font-family: $OSSemiBold;
  src:url("fonts/"+$OSSemiBold+".ttf") format('truetype');
}

@font-face {
  font-family: $OSSemiBoldItalic;
  src:url("fonts/"+$OSSemiBoldItalic+".ttf") format('truetype');
}