//- variables. 
//- max-width for modules that required
$width: 1200px;
$browser-context: 16px; 

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}


//- Tamaño fuentes 
$fuente__titulo: em(20px); 
$fuente__titulo_mobile: em(18px); 

$fuente__parrafo: em(18px);
$fuente__parrafo_mobile: em(15px);

$fuente__color_primary:rgba(255,255,255,.66);;
$fuente__color_secondary:#e14d43;

//- TIPOGRAFICAS. 
$tipografia:"OpenSans";
$extTTF:"";

$OSBold: $tipografia+"-Bold"+$extTTF;
$OSBoldItalic: $tipografia+"-BoldItalic"+$extTTF;
$OSExtraBold: $tipografia+"-ExtraBold"+$extTTF;
$OSExtraBoldItalic: $tipografia+"-ExtraBoldItalic"+$extTTF;
$OSItalic: $tipografia+"-Italic"+$extTTF;
$OSLight: $tipografia+"-Light"+$extTTF;
$OSLightItalic: $tipografia+"-LightItalic"+$extTTF;
$OSRegular: $tipografia+"-Regular"+$extTTF;
$OSSemiBold: $tipografia+"-SemiBold"+$extTTF;
$OSSemiBoldItalic: $tipografia+"-SemiBoldItalic"+$extTTF;


//- configuraciones tipografia. 

//- Default


//- Fondos 

$bg_color_oscuro_uno: #25282b;

// PATH's
$path_image: "../../media/image/";


//- mixins 
@mixin transition($params...) {
    -webkit-transition:$params;
    -ms-transition:$params;
    transition:$params;
}





