section{
    &.header-category{
        position: relative;
        overflow: hidden;
        margin-bottom: 30px;

        .fondo{
            background-repeat: no-repeat;
            background-size: cover;
            width:100%;
            height: 200px;
        }
        .cont_info{
            position: absolute;
            top:0px;
            left:0px;
            width:100%;
            height: 100%;
            background-color: rgba(black,0.5);
            h1{
                color:white;
                position: absolute;
                bottom: 1em; 
                font-size:36pt;
                margin:0px;
                padding: 0px 20px; 
                line-height: 1em;
                text-align: center;
                width:100%;

            }
        }
    }
}