footer{
    .wrap{
        margin:0 auto;
        article{
            h3{
            }
            p{
                font-size: $fuente__parrafo;
                a{
                    color:$fuente__color_primary;
                }
                span{
                    &.fas{
                    }
                }
            }
        }
    }
    .footer_down{
        p{
        }
    }
}