footer{
    background-color: black;
    .wrap{
        padding: 2em 0em;
        max-width:$width;
        margin:0 30px;
        @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(space-between);
        article{
            // min-width:400px;
            width:auto;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 30px;
            h3{
                color:$fuente__color_primary;

            }
            p{
                color:$fuente__color_primary;
                font-size: $fuente__parrafo_mobile;
                a{
                    font-size: $fuente__parrafo_mobile;
                    color:$fuente__color_primary;
                }
                span{
                    &.fas{
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }
    .footer_down{
        width:100%;
        border-color: #494e52;
        background-color: $bg_color_oscuro_uno;
        padding:0.5em 1em;
        p{
            text-align: center;
            color:#7a7f83;
        }
    }
}