doctype html
html
  head
    include ../inc/head.pug
  body
    header.myHeader#myHeader
        block ../inc/header.pug
    main 
      #content
        block aside 
            p default aside
        block content 
            p default content
    footer
      include ../inc/footer.pug
    include ../inc/pos_footer.pug
    include ../inc/script.pug