doctype html
html
  head
    include ../inc/head.pug
  body
    header.myHeader#myHeader
        include ../inc/header.pug
    main 
      #content
        block content 
          p default content
        block aside 
          p default aside
    footer
      include ../inc/footer.pug
    include ../inc/pos_footer.pug
    include ../inc/script.pug