include ../includes/pug/variables.pug


- var collecArt={}
- collecArt.at1 = {}
- collecArt.at1.cuerpo = "Producimos campañas audiovisuales para marcas."
- collecArt.at1.image = "https://via.placeholder.com/392x392"
- collecArt.at1.enlace = "servicios"

- collecArt.at2 = {}
- collecArt.at2.cuerpo = "Música y cine: Nuestras dos grandes pasiones se."
- collecArt.at2.image = "https://via.placeholder.com/392x392"
- collecArt.at2.enlace = "avioncito"


- collecArt.at3 = {}
- collecArt.at3.cuerpo = "Publicidad, promociones, vídeos corporativos."
- collecArt.at3.image = "https://via.placeholder.com/392x392"
- collecArt.at3.enlace = "servicio"


- collecArt.at4 = {}
- collecArt.at4.cuerpo = "Festivales, rodajes, conciertos, inauguraciones."
- collecArt.at4.image = "https://via.placeholder.com/392x392"
- collecArt.at4.enlace = "servicios"

- collecArt.at5 = {}
- collecArt.at5.cuerpo = "Conciertos, eventos deportivos, conferencias."
- collecArt.at5.image = "https://via.placeholder.com/392x392"
- collecArt.at5.enlace = "servicios"

- collecArt.at6 = {}
- collecArt.at6.cuerpo = "Contamos con la tecnología 360 VR para contar."
- collecArt.at6.image = "https://via.placeholder.com/392x392"
- collecArt.at6.enlace = "servicios"


- collecArt.at7 = {}
- collecArt.at7.cuerpo = "Nuestros cámaras aún no vuelan pero sí sus drones."
- collecArt.at7.image = "https://via.placeholder.com/392x392"
- collecArt.at7.enlace = "servicios"

- collecArt.at8 = {}
- collecArt.at8.cuerpo = "Contamos con un plató multifunción indoor para."
- collecArt.at8.image = "https://via.placeholder.com/392x392"
- collecArt.at8.enlace = "servicios"


- collecArt.at9 = {}
- collecArt.at9.cuerpo = "Nuestros coloristas son expertos en corrección."
- collecArt.at9.image = "https://via.placeholder.com/392x392"
- collecArt.at9.enlace = "servicios"


- collecArt.at10 = {}
- collecArt.at10.cuerpo = "Grabación de sonido, composición, ambientación."
- collecArt.at10.image = "https://via.placeholder.com/392x392"
- collecArt.at10.enlace = "servicios"


- collecArt.at11 = {}
- collecArt.at11.cuerpo = "Servicios y reportajes fotográficos de eventos."
- collecArt.at11.image = "https://via.placeholder.com/392x392"
- collecArt.at11.enlace = "servicios"


- collecArt.at12 = {}
- collecArt.at12.cuerpo = "Creamos y gestionamos campañas y estrategias."
- collecArt.at12.image = "https://via.placeholder.com/392x392"
- collecArt.at12.enlace = "servicios"



section.mosaico_trabajos
    h2: strong Te ayudamos a comunicar (mejor)
    p.entradilla Colaboramos en la creación de contenidos que funcionan
    p.text-small Proporcionamos todos los servicios audiovisuales necesarios para garantizar producciones de calidad
    p.lineas: span.far.fa-envelope 
    .cont_article
        each art in collecArt
            article
                a.full-cover-link(href=art.enlace)
                img(src=art.image)
                .cont_info 
                    p=art.cuerpo
    p.lineas: span.far.fa-envelope 