*,ul,li,a{
    margin:0px;
    padding:0px;
}
a{
    cursor:pointer;
    &:hover{
        color:#69a8bb;
    }
}
p{
    margin: 0.3em 0em;
}

//- header fixed styles. 
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

p{
    font-size:$fuente__parrafo_mobile;
}

p{
    &.lineas{
        text-align: center;
        margin:15px 0px;
        width:100%;
        &::before,&::after{
            content: '';
            width:100px;
            height: 1px;
            background-color: white;
            display: inline-block;
            vertical-align: middle;
        }
        &::before{
            border-radius:50% 0px 0px 50%;
        }
        &::after{
            border-radius:0px 50% 50% 0px;

        }
        span{
            margin: 0px 15px;
        }
    }
}


.full-cover-link{
    position: absolute;
    width:100%;
    height: 100%;
    cursor:pointer;
    z-index:999;
}

span{
    &.arrow{
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }
    
    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
  
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
  
    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
  
    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}