section{
    &.editorial{
        padding-left:0px;
        padding-right:0px;
        width:100%;
        max-width:$width;
        margin:0 auto 30px;

        .wrap{

        }
        article{
            img{
            }
            h3{
            }
            p{
                &.fecha{

                }
            }

        }
    }
}