section{
    &.editorial{
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        .wrap{
            width:100%;
            &:first-child,&:last-child{
                padding:20px;
            }
            &:first-child{
                background-color:black;
                article{
                    h3,p.fecha{
                        color:white;
                    }
                }
            }
            &:last-child{
                padding-top:20px;
                background-color:silver;
            }
        }
        article{
            img{
                width:100%
            }
            h3{
            }
            p{
                &.fecha{
                }
            }
        }
    }
}