section{
    &.editorial{
        .wrap{
        }
        article{
            img{
            }
            h3{
                font-size:$fuente__titulo;
            }
            p{
                &.fecha{
                    font-size:$fuente__parrafo;
                }
            }

        }
    }
}