section{
    &.editorial{
        width:100%;
        margin-bottom:30px;
        @include flexbox();
        @include flex-wrap(wrap);
        @include flex-direction(column);
        .wrap{
            width:100%;
            &:first-child{
                background-color:black;
                padding:20px;
                article{
                    h3,p.fecha{
                        color:white;
                    }
                }
            }
            &:last-child{
                padding-top:20px;
                background-color:silver;
            }
        }
        article{
            width:100%;
            img{
                width:100%;
                margin-bottom: 15px;
            }
            h3{
                font-size:$fuente__titulo_mobile;
                font-family:$OSBold;
            }
            p{
                &.fecha{
                    font-size:$fuente__parrafo_mobile;
                    font-family:$OSLight;
                }
            }
        }
    }
}