.wrap   
    article 
        h3 TRIMONKEY 
        p: a(href=link_home) HOME 
        p: a(href=link_quienes_somos) QUIENES SOMOS 
        p: a(href=link_servicios) SERVICIOS 
        p: a(href=link_trabajos) TRABAJOS 
        p: a(href=link_blog) BLOG 
        p: a(href=link_contacto) CONTACTO 
    article 
        h3 CONTACTO 
        p 
            span.fas.fa-map-marked-alt 
            | Productora Audiovisual Madrid (España)
        p 
            span.fas.fa-phone
            | +34 6655 398 140
        p 
            span.fas.fa-envelope
            | productora@davaifilms.es
.footer_down
    p DavaiFilms 2020 © Productoras Audiovisuales Madrid