include ../variables.pug
.menu_up
    .wrap
        .info_contacto 
            p 
                span.fas.fa-phone 
                span.text +34 655 398 140
            p 
                span.fas.fa-envelope 
                span.text davai@davai.com
            p 
                span.fas.fa-envelope
                span.text +34 655 398 140
        include redes-sociales
nav
    .wrap
        include logo
        include main-menu
        //- include formulario
.menu_down