meta( charset="UTF-8")
meta( name="viewport" content="width=device-width, initial-scale=1.0")
meta( http-equiv="X-UA-Compatible" content="IE=edge")
//- Recomendado más de 70 caracteres.
//- Recomendado menos de 300 caracteres.
title DavaiFilms
meta( name="description" content="Descripción del sition.")
meta(name="robots" content="index, follow")
meta(name="author" content="")
script(src="lib/librerias/jquery/js/jquery-3.4.1.min.js") 
script(src="lib/librerias/bootstrap-4.0.0/js/bootstrap.min.js")
script(src="lib/librerias/swiperjs/js/swiper.min.js") 

link(rel="stylesheet" href="lib/librerias/bootstrap-4.0.0/css/bootstrap.min.css" )
link(rel="stylesheet" href="lib/librerias/fontawesome/css/all.min.css" )
link(rel="stylesheet" href="lib/librerias/swiperjs/css/swiper.min.css" )

//- Styles 
link(rel="stylesheet" href="skin/css/styles.css") 