.menu
    span.fas.fa-bars
    ul  
        //- li: a( href=link_home ) Home
        li: a( href=link_quienes_somos ) Quiénes somos
        li: a( href=link_servicios ) Servicios
        li: a( href=link_contacto ) Contacto
        li: a( href=link_trabajos ) Trabajos
