extends ../includes/pug/layout/one-column.pug
block content

    include ../modulo_header_categorias/modulo_header_home.pug
    include ../modulo_editorial/modulo_editorial.pug
    include ../modulo_los_mejores/modulo_los_mejores.pug
    include ../modulo_criticas/modulo_criticas.pug
    include ../modulo_soluciones_integrales/modulo_soluciones_integrales.pug
    include ../modulo_contacta_con_nosotros/modulo_contacta_con_nosotros.pug