extends ../includes/pug/layout/one-column.pug
block content
    include ../modulo_carousel_home/modulo_carousel_home.pug
    include ../modulo_mosaico_trabajos/modulo_mosaico_trabajos.pug
    include ../modulo_twitter/modulo_twitter.pug
    include ../modulo_soluciones_integrales/modulo_soluciones_integrales.pug
    include ../modulo_contacta_con_nosotros/modulo_contacta_con_nosotros.pug