extends ../includes/pug/layout/one-column.pug
block content
    include ../modulo_header_categorias/modulo_header_categorias.pug
    include ../modulo_nuestro_equipo/modulo_nuestro_equipo.pug
    include ../modulo_contacta_con_nosotros/modulo_contacta_con_nosotros.pug