extends ../includes/pug/layout/one-column.pug
block content
    include ../modulo_header_categorias/modulo_header_home.pug
    //- include ../modulo_carousel_home/modulo_carousel_home.pug
    include ../modulo_soluciones_integrales/modulo_soluciones_integrales.pug    
    include ../modulo_criticas/modulo_servicios.pug
    include ../modulo_contacta_con_nosotros/modulo_contacta_con_nosotros.pug