section{
    &.mosaico_trabajos{
        h2{
        }
        p{
            &.entradilla {
            }
            &.text-small{
            }
            &.lineas{
                &::before,&::after{
                }
            }
        }
        .cont_article{
            article{
                max-width: (100%/5);
                img{
                }
                .cont_info{
                    p{

                    }
                }
            } 

        } 
    }
}