section{
    &.mosaico_trabajos{
        h2{
            font-size: 2em;
        }
        p{
            &.entradilla {
                text-align: center;
                font-size:1.625em;
            }
            &.text-small{
                text-align: center;
                font-size:0.875em;
            }
            &.lineas{
                &::before,&::after{
                }
            }
        }
        .cont_article{
            article{
                max-width: (100%/3);
                img{
                }
                .cont_info{
                    p{

                    }
                }
            } 

        } 
                

    }
}