section{
    &.mosaico_trabajos{
        width:100%;
        h2{
            text-align: center;
            padding: 0 30px;
        }
        > p{
            padding: 0 30px;
        }
        p{
            &.lineas{
                &::before,&::after{
                    background-color: grey;
                }
            }
        }
        .cont_article{
            @include flexbox();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            article{
                position: relative;
                max-width: (100%/2);
                img{
                    width:100%;
                }
                .cont_info{
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    position: absolute;
                    top:0px;
                    left:0px;
                    right:0px;
                    bottom: 0px;
                    width:100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.3);
                    display: none;
                    p{
                        text-align: center;
                        padding:0 15px;
                    }
                }
            } 

        } 
                

    }
}