include ../includes/pug/variables.pug

- var collecArt={}
- collecArt.at1 = {}
- collecArt.at1.icon = "light.jpg"
- collecArt.at1.title = "PUBLICIDAD"
- collecArt.at1.cuerpo = ""
- collecArt.at1.enlace = ""

- collecArt.at2 = {}
- collecArt.at2.icon = "icono_vide.png"
- collecArt.at2.title = "VIDEOCLIPS"
- collecArt.at2.cuerpo = ""
- collecArt.at2.enlace = ""


- collecArt.at3 = {}
- collecArt.at3.icon = "icono_vide.png"
- collecArt.at3.title = "VÍDEOS CORPORATIVOS"
- collecArt.at3.cuerpo = ""
- collecArt.at3.enlace = ""


- collecArt.at4 = {}
- collecArt.at4.icon = "produccion.png"
- collecArt.at4.title = "POSTPRODUCCION"
- collecArt.at4.cuerpo = ""
- collecArt.at4.enlace = ""

- collecArt.at5 = {}
- collecArt.at5.icon = "sonido.png"
- collecArt.at5.title = "SONIDO"
- collecArt.at5.cuerpo = ""
- collecArt.at5.enlace = ""

- collecArt.at6 = {}
- collecArt.at6.icon = "fotografia.jpg"
- collecArt.at6.title = "FOTOGRAFÍA"
- collecArt.at6.cuerpo = ""
- collecArt.at6.enlace = ""





section.soluciones-integrales
    .wrap        
        //- h2.titulo_seccion: strong Soluciones integrales
        //- p.cuerpo Presentes en todas las fases de la producción
        //- p.text-small Spots publicitarios, videoclips, videos corporativos, virales, streaming, aftermovies. Participamos en el desarrollo de la idea, escritura de guión, rodaje y postproducción (edición, Vfx y etalonaje) de todo tipo de proyectos audiovisuales.
        //- p.lineas: span.arrow.down
        .cont_article
            each art,index in collecArt
                //- if(index == 'at7')
                //-     p.lineas: span.arrow.down
                article
                    p
                        a: img(src=path_image+art.icon)
                    h3= art.title
                    //- p.cuerpo=art.cuerpo
        //- p.lineas: span.arrow.down
