section{
    &.nuestro-equipo{
        width:100%;
        .wrap{
            max-width:800px;
            margin:0 auto; 
            article{
                max-width:unset;
                @include flexbox();
                &:nth-child(odd){
                    @include flex-direction(row-reverse);
                    .cont_info {
                        margin-right:30px;
                    }
                }
                &:nth-child(even){
                    @include flex-direction(row);
                    .cont_info{
                        margin-left:30px;
                    }
                }
                img{
                    min-width:250px;
                }
                .cont_info{
                    // width:500px;
                    h3{
                    }
                    h4{
                        
                    }
                    p{
                        &.subtitulo{
                        }
                        &.cuerpo{
                        }
                    }
                }
            }
        }  
    }
}