section{
    &.nuestro-equipo{
        .wrap{
            width:auto;
            margin:0px 20px;
            @include flexbox();
            @include flex-direction(column);
            article{
                max-width:390px;
                width:100%;
                margin-bottom:30px;
                img{
                    width:100%;
                }
                .cont_info{
                    h3{
                    }
                    p{
                        &.subtitulo{
                        }
                        &.cuerpo{
                        }
                    }
                }
            }
        }  
    }
}