include ../includes/pug/variables.pug
section.twitter 
    a( class="twitter-follow-button", href="https://twitter.com/TwitterDev") Follow @TwitterDev
    a( class="twitter-timeline",href="https://twitter.com/Tweet?ref_src=twsrc%5Etfw") Tweets by TwitterDev
    script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8") 