include ../includes/pug/variables.pug
section.formulario-contacto
    form.needs-validation(action="sentEmail.php")
        .form-row
            .form-group.col-md-6
                label(for='user_name') Nombre
                input#user_name.form-control(type='text' placeholder='nombre' required)
            .form-group.col-md-6
                label(for='user_email') Email
                input#user_email.form-control(type='email' placeholder='Email' required)
        .form-group
            label(for='user_address') Dirección
            input#user_address.form-control(type='text' placeholder='Calle De Pablo, 25' required)
        .form-row
            .form-group.col-md-6
                label(for='user_city') Ciudad
                input#user_city.form-control(type='text' required)
            .form-group.col-md-6
                label(for='user_postalCode') Código postal
                input#inputZip.form-control(type='text' required)
        .form-group
            .form-check
                input#user_terms.form-check-input(type='checkbox' required)
                label.form-check-label(for='user_terms') Aceptar los #[a(href="#") terminos y condiciones].
        button.btn.btn-primary(type='submit') Contactar
