include ../includes/pug/variables.pug
section.contacta-con-nosotros
    .wrap
        h2 Contacta con nosotros 
        p.lineas: span.far.fa-envelope 
        p.cuerpo ¡Queremos ayudarte! Cuéntanos tu idea, dinos qué es lo que necesitas o directamente escríbenos para tomarnos un café y hablamos en persona sobre tu proyecto. ¡Vamos a darle caña!
        //- TODO: Agregar form bootstrap. 
        form(novalidate).needs-validation
            .form-group
                label(for="contacto_nombre") Nombre
                span.far.fa-user
                input(type="text" class="form-control" name="contacto_nombre" id="user_name" required) 
                .invalid-feedback El campo no puede estar vacio.
            .form-group
                label(for="contacto_correo") Correo
                span.fas.fa-at
                input(type="email" class="form-control" name="contacto_correo" id="user_email" required) 
                .invalid-feedback Por favor, introduce un correo valido. 
            .form-group
                label(for="asunto") Asunto
                span.fas.fa-pencil-alt
                textarea(name="asunto")
            .form-group
                .form-check
                    input(class="form-check-input" type="checkbox" value="" id="invalidCheck" required)
                    label(class="form-check-label" for="invalidCheck") Agree to terms and conditions
                    .invalid-feedback You must agree before submitting.
            button(type="submit") ENVIAR MENSAJE

