include ../includes/pug/variables.pug
section.nuestro-equipo
    .wrap 
        article
            img(src="https://via.placeholder.com/250x250" title="Déspina Sofos Naveros")
            .cont_info
                h3 Déspina Sofos Naveros
                h4 CEO de Davai Films
                p.cuerpo Su capacidad de mando y visión de negocio sumadas a la experiencia de Déspina en el ámbito creativo y administrativo son capitales a la hora de tomar decisiones durante las diferentes etapas del proceso de trabajo. Su criterio es el timón de cada proyecto de Davai Films.
        article 
            img(src="https://via.placeholder.com/250x250" title="Santiago Torres López")
            .cont_info
                h3 Santiago Torres López
                h4 Director creativo
                p.cuerpo Con una amplia trayectoria en las artes plásticas y visuales, Santiago es guionista, realizador, editor y un colorista experto, ya que su larga experiencia artística le ha proporcionado las herramientas necesarias para lograr imágenes de gran poder visual. Ha participado en la creación y desarrollo de numerosos proyectos nacionales e internacionales. 
        article 
            img(src="https://via.placeholder.com/250x250" title="Sara Dufort")
            .cont_info
                h3 Sara Dufort 
                h4 Productora ejecutiva
                p.cuerpo Los más de diez años de experiencia en asesoría legal contribuyen a que Sara se mueva como pez en el agua en las gestiones de producción. Así mismo, es un referente en la organización y logística de proyectos gracias a su gran capacidad resolutiva y eficiencia. 