/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
    line-height: 1.15;
  /* 1 */
    -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
    margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
    display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
    box-sizing: content-box;
  /* 1 */
    height: 0;
  /* 1 */
    overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
    background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
    border-bottom: none;
  /* 1 */
    text-decoration: underline;
  /* 2 */
    text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
    font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
    font-family: monospace, monospace;
  /* 1 */
    font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
    font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
    border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
  /* 1 */
    font-size: 100%;
  /* 1 */
    line-height: 1.15;
  /* 1 */
    margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
    overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
    text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
    box-sizing: border-box;
  /* 1 */
    color: inherit;
  /* 2 */
    display: table;
  /* 1 */
    max-width: 100%;
  /* 1 */
    padding: 0;
  /* 3 */
    white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
    vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
    overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
  /* 1 */
    padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
    -webkit-appearance: textfield;
  /* 1 */
    outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
    -webkit-appearance: button;
  /* 1 */
    font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
    display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
    display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
    display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
    display: none;
}

@font-face {
    font-family: "OpenSans-Bold";
  src: url("fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-BoldItalic";
  src: url("fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-ExtraBold";
  src: url("fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
  src: url("fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Italic";
  src: url("fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Light";
  src: url("fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-LightItalic";
  src: url("fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Regular";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBold";
  src: url("fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-SemiBoldItalic";
  src: url("fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

header {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

header .menu_up, header nav, header nav ul, header .info_contacto, header .wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

header .menu_up {
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.66);
    padding: 0px 1em;
}

header .menu_up .wrap {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    width: 100%;
}

header .menu_up .info_contacto p, header .menu_up .info_redes p {
    margin-right: 30px;
    font-size: 0.87em;
}

header .menu_up .info_contacto p span, header .menu_up .info_redes p span {
    margin-right: 10px;
}

header .menu_up .info_contacto p span.text, header .menu_up .info_redes p span.text {
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

header .menu_up .info_redes p {
    margin-right: 0px;
}

header .menu_up .info_redes p span {
    margin: 0px 10px;
}

header .menu_up .info_redes p span:last-child {
    margin-right: 0px;
}

header nav {
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

header nav .wrap {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    width: 100%;
    padding: 0 30px;
}

header nav .wrap span.fa-bars {
    display: inline-block;
    line-height: 57px;
    color: white;
    margin-right: 15px;
    font-size: 25px;
    cursor: pointer;
}

header nav .menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

header nav .logo {
    height: 0px;
    overflow: hidden;
}

header nav .logo img {
    height: 100%;
}

header nav ul {
    list-style: none;
    display: none;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0px;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 15px 0px;
    padding-bottom: 2px;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-bottom: 1px solid transparent;
}

header nav ul li a:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
}

header nav ul li a:last-child {
    margin-right: 0px;
}

header nav ul.showMenu {
    padding: 25px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block !important;
    background-color: white;
    width: 80%;
}

header nav ul.showMenu li {
    border-bottom: 1px solid white;
}

header nav ul.showMenu li a {
    color: black;
    cursor: pointer;
    width: 100%;
}

header nav ul.showMenu li:hover {
    border-bottom: 1px solid grey;
}

header nav .cont_search span.fas {
    color: #ffffff;
    line-height: 57px;
    font-size: 21px;
}

header nav .cont_search form {
    display: none;
}

header nav.sticky {
    z-index: 9999;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

header nav.sticky .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    -webkit-transition: height 0.3s;
    -ms-transition: height 0.3s;
    transition: height 0.3s;
}

header nav.sticky .cont_search span.fas {
    color: #ffffff;
}

*, ul, li, a {
    margin: 0px;
    padding: 0px;
}

a {
    cursor: pointer;
}

a:hover {
    color: #69a8bb;
}

p {
    margin: 0.3em 0em;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

p {
    font-size: 0.9375em;
}

p.lineas {
    text-align: center;
    margin: 15px 0px;
    width: 100%;
}

p.lineas::before, p.lineas::after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

p.lineas::before {
    border-radius: 50% 0px 0px 50%;
}

p.lineas::after {
    border-radius: 0px 50% 50% 0px;
}

p.lineas span {
    margin: 0px 15px;
}

.full-cover-link {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

span.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

span.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

span.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

span.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

span.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

section.carousel-home {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 100%;
}

section.mosaico_trabajos {
    width: 100%;
}

section.mosaico_trabajos h2 {
    text-align: center;
    padding: 0 30px;
}

section.mosaico_trabajos > p {
    padding: 0 30px;
}

section.mosaico_trabajos p.lineas::before, section.mosaico_trabajos p.lineas::after {
    background-color: grey;
}

section.mosaico_trabajos .cont_article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

section.mosaico_trabajos .cont_article article {
    position: relative;
    max-width: 50%;
}

section.mosaico_trabajos .cont_article article img {
    width: 100%;
}

section.mosaico_trabajos .cont_article article .cont_info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

section.mosaico_trabajos .cont_article article .cont_info p {
    text-align: center;
    padding: 0 15px;
}

section.twitter {
    max-width: 1200px;
    margin: 0px 30px;
    border: 1px solid red;
    height: 300px;
    width: 300px;
    overflow-x: scroll;
}

section.soluciones-integrales .wrap {
    width: 100%;
    margin: 0 auto;
}

section.soluciones-integrales .wrap > p {
    padding: 0px 1.8em;
}

section.soluciones-integrales .wrap > p.cuerpo, section.soluciones-integrales .wrap > p.text-small {
    text-align: center;
}

section.soluciones-integrales .wrap > p.cuerpo {
    color: inherit;
    font-size: 1.375em;
    margin-bottom: 15px;
}

section.soluciones-integrales .wrap > p.text-small {
    font-size: 1em;
}

section.soluciones-integrales h2 {
    margin: 0px;
    color: inherit;
    text-align: center;
    margin-bottom: 30px;
}

section.soluciones-integrales p.lineas {
    padding: 0px;
}

section.soluciones-integrales p.lineas::before, section.soluciones-integrales p.lineas::after {
    background-color: #d7dde0;
    width: 45%;
}

section.soluciones-integrales p.lineas span.arrow {
    border-color: #d7dde0;
}

section.soluciones-integrales .cont_article {
    padding: 4em 30px;
}

section.soluciones-integrales .cont_article article {
    margin-bottom: 50px;
}

section.soluciones-integrales .cont_article article h3 {
    text-align: center;
    color: black;
    font-size: 26px;
}

section.soluciones-integrales .cont_article article h3 a {
    color: inherit;
}

section.soluciones-integrales .cont_article article p {
    text-align: center;
}

section.soluciones-integrales .cont_article article p.cuerpo {
    font-size: 16px;
}

section.soluciones-integrales .cont_article article p a {
    border: 2px solid #e14d43;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    transition: background-color 0.3s;
    overflow: hidden;
}

section.soluciones-integrales .cont_article article p a img {
    width: 70px;
}

section.contacta-con-nosotros {
    background-color: #25282b;
    color: white;
    padding: 4em 30px;
}

section.contacta-con-nosotros .wrap {
    width: 100%;
    margin: 0 auto;
}

section.contacta-con-nosotros h2 {
    margin: 0px;
    color: inherit;
    text-align: center;
    margin-bottom: 30px;
}

section.contacta-con-nosotros p.cuerpo {
    color: inherit;
    font-size: 0.9375em;
    text-align: justify;
    margin-bottom: 15px;
}

section.contacta-con-nosotros p.cuerpo span {
    color: inherit;
    margin: 0px 10px;
    font-size: 13px;
}

section.contacta-con-nosotros form {
    width: 100%;
}

section.contacta-con-nosotros form label, section.contacta-con-nosotros form span {
    position: absolute;
}

section.contacta-con-nosotros form label {
    left: 30px;
    color: grey;
}

section.contacta-con-nosotros form span {
    top: 7px;
    color: grey;
    left: 7px;
}

section.contacta-con-nosotros form input[type="text"], section.contacta-con-nosotros form input[type="email"], section.contacta-con-nosotros form textarea, section.contacta-con-nosotros form button {
    border-radius: 0.2em;
}

section.contacta-con-nosotros form input[type="text"], section.contacta-con-nosotros form input[type="email"], section.contacta-con-nosotros form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
}

section.contacta-con-nosotros form input[type="text"], section.contacta-con-nosotros form input[type="email"] {
    height: 40px;
}

section.contacta-con-nosotros form textarea {
    height: 100px;
}

section.contacta-con-nosotros form button {
    border: 1px solid red;
    color: red;
    background-color: transparent;
    padding: 10px 15px;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-weight: bold;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

section.contacta-con-nosotros form button:hover {
    background-color: red;
    color: inherit;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

section.contacta-con-nosotros form .form-group {
    position: relative;
}

section.contacta-con-nosotros form .form-group:last-of-type label {
    position: static;
}

section.formulario-contacto {
    width: auto;
    margin: 0 30px 30px 30px;
}

footer {
    background-color: black;
}

footer .wrap {
    padding: 2em 0em;
    max-width: 1200px;
    margin: 0 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}

footer .wrap article {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

footer .wrap article h3 {
    color: rgba(255, 255, 255, 0.66);
}

footer .wrap article p {
    color: rgba(255, 255, 255, 0.66);
    font-size: 0.9375em;
}

footer .wrap article p a {
    font-size: 0.9375em;
    color: rgba(255, 255, 255, 0.66);
}

footer .wrap article p span.fas {
    margin-right: 0.5em;
}

footer .footer_down {
    width: 100%;
    border-color: #494e52;
    background-color: #25282b;
    padding: 0.5em 1em;
}

footer .footer_down p {
    text-align: center;
    color: #7a7f83;
}

section.nuestro-equipo .wrap {
    width: auto;
    margin: 0px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

section.nuestro-equipo .wrap article {
    max-width: 390px;
    width: 100%;
    margin-bottom: 30px;
}

section.nuestro-equipo .wrap article img {
    width: 100%;
}

section.header-category {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

section.header-category .fondo {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}

section.header-category .cont_info {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

section.header-category .cont_info h1 {
    color: white;
    position: absolute;
    bottom: 1em;
    font-size: 36pt;
    margin: 0px;
    padding: 0px 20px;
    line-height: 1em;
    text-align: center;
    width: 100%;
}

section.nuestras-criticas {
    width: 100%;
    margin: 30px auto;
}

section.nuestras-criticas h2 {
    font-family: "OpenSans-Bold";
    text-align: center;
    margin: 30px 0px;
}

section.nuestras-criticas .cont_info {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
}

section.nuestras-criticas .cont_info article {
    max-width: 320px;
    width: 100%;
    margin: 10px auto;
}

section.nuestras-criticas .cont_info article img {
    width: 100%;
}

section.nuestras-criticas .cont_info article h3 {
    font-size: 1.125em;
    font-family: "OpenSans-Bold";
    margin-top: 15px;
}

section.nuestras-criticas .cont_info article p.cuerpo, section.nuestras-criticas .cont_info article p span.escritor, section.nuestras-criticas .cont_info article p span.date {
    font-size: 0.9375em;
}

section.nuestras-criticas .cont_info article p span.escritor {
    font-family: "OpenSans-Bold";
    margin-right: 10px;
}

section.nuestras-criticas .cont_info article p span.date {
    font-family: "OpenSans-Light";
}

section.nuestras-criticas .cont_info article p.cuerpo {
    font-family: "OpenSans-Regular";
}

section.los-mejores {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

section.los-mejores .header_section {
    text-align: center;
}

section.los-mejores .header_section h2 {
    font-family: "OpenSans-Bold";
    font-size: 1.25em;
}

section.los-mejores .header_section p.entradilla {
    font-family: "OpenSans-Regular";
    font-size: 1.125em;
}

section.los-mejores .buttons_controller {
    position: static;
    display: block;
    height: 30px;
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}

section.los-mejores .buttons_controller .text {
    font-family: "OpenSans-Bold";
    font-size: 1.25em;
}

section.los-mejores .buttons_controller .controllers {
    height: 100%;
}

section.los-mejores .buttons_controller .controllers > .swiper-button-next,
      section.los-mejores .buttons_controller .controllers > .swiper-button-prev {
    color: #000000;
    position: static;
    display: inline-block;
    height: 100%;
    top: 0px;
    margin-top: 0px;
}

section.los-mejores .swiper-los-mejores {
    margin-top: 20px;
    overflow: hidden;
}

section.los-mejores .swiper-los-mejores .swiper-slide {
    width: 100%;
    height: auto;
}

section.los-mejores .swiper-los-mejores .swiper-slide article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

section.los-mejores .swiper-los-mejores .swiper-slide article img {
    width: 100%;
}

section.los-mejores .swiper-los-mejores .swiper-slide article .cont_info {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    margin-top: -50px;
    background-color: #ffffff;
}

section.los-mejores .swiper-los-mejores .swiper-slide article .cont_info h3 {
    font-family: "OpenSans-Bold";
}

section.los-mejores .swiper-los-mejores .swiper-slide article .cont_info p.antetitulo {
    font-family: "OpenSans-SemiBold";
    color: red;
}

section.los-mejores .swiper-los-mejores .swiper-slide article .cont_info p.cuerpo {
    font-family: "OpenSans-Regular";
}

section.los-mejores .swiper-los-mejores .swiper-pagination {
    left: 0px;
    width: 100%;
}

section.editorial {
    width: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

section.editorial .wrap {
    width: 100%;
}

section.editorial .wrap:first-child {
    background-color: black;
    padding: 20px;
}

section.editorial .wrap:first-child article h3, section.editorial .wrap:first-child article p.fecha {
    color: white;
}

section.editorial .wrap:last-child {
    padding-top: 20px;
    background-color: silver;
}

section.editorial article {
    width: 100%;
}

section.editorial article img {
    width: 100%;
    margin-bottom: 15px;
}

section.editorial article h3 {
    font-size: 1.125em;
    font-family: "OpenSans-Bold";
}

section.editorial article p.fecha {
    font-size: 0.9375em;
    font-family: "OpenSans-Light";
}

@media all and (min-width: 576px) {
    header .menu_up {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    header nav span.fa-bars {
        display: none;
    }

    section.contacta-con-nosotros .wrap {
        width: 450px;
    }

    section.editorial {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    section.editorial .wrap {
        width: 100%;
    }

    section.editorial .wrap:first-child, section.editorial .wrap:last-child {
        padding: 20px;
    }

    section.editorial .wrap:first-child {
        background-color: black;
    }

    section.editorial .wrap:first-child article h3, section.editorial .wrap:first-child article p.fecha {
        color: white;
    }

    section.editorial .wrap:last-child {
        padding-top: 20px;
        background-color: silver;
    }

    section.editorial article img {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    header nav {
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: flex-end;
    }

    header nav .wrap {
        max-width: 1200px;
        margin: 0 20px;
        width: 100%;
    }

    header nav .wrap span.fa-bars {
        display: none;
    }

    header nav .wrap .menu {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    header nav ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    header nav.sticky ul li a {
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
    }

    header nav.sticky ul li a:hover {
        color: #e14d43 !important;
        border-bottom: 1px solid rgba(225, 77, 67, 0.7);
    }

    section.mosaico_trabajos h2 {
        font-size: 2em;
    }

    section.mosaico_trabajos p.entradilla {
        text-align: center;
        font-size: 1.625em;
    }

    section.mosaico_trabajos p.text-small {
        text-align: center;
        font-size: 0.875em;
    }

    section.mosaico_trabajos .cont_article article {
        max-width: 33.33333%;
    }

    section.soluciones-integrales .cont_article {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    section.soluciones-integrales .cont_article article {
        width: 33.33333%;
        padding: 0 20px;
    }

    section.nuestro-equipo {
        width: 100%;
    }

    section.nuestro-equipo .wrap {
        max-width: 800px;
        margin: 0 auto;
    }

    section.nuestro-equipo .wrap article {
        max-width: unset;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    section.nuestro-equipo .wrap article:nth-child(odd) {
        -webkit-flex-direction: row-reverse;
        -moz-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    section.nuestro-equipo .wrap article:nth-child(odd) .cont_info {
        margin-right: 30px;
    }

    section.nuestro-equipo .wrap article:nth-child(even) {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    section.nuestro-equipo .wrap article:nth-child(even) .cont_info {
        margin-left: 30px;
    }

    section.nuestro-equipo .wrap article img {
        min-width: 250px;
    }

    section.header-category .fondo {
        height: 400px;
    }

    section.nuestras-criticas .cont_info article h3 {
        font-size: 1.25em;
    }

    section.nuestras-criticas .cont_info article p.cuerpo, section.nuestras-criticas .cont_info article p span.escritor, section.nuestras-criticas .cont_info article p span.date {
        font-size: 1.125em;
    }

    section.nuestras-criticas .cont_info article p span.date, section.nuestras-criticas .cont_info article p span.escritor {
        font-size: 0.9em;
    }

    section.los-mejores .swiper-los-mejores .swiper-slide article {
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    section.los-mejores .swiper-los-mejores .swiper-slide article img {
        width: 60%;
        height: 500px;
    }

    section.los-mejores .swiper-los-mejores .swiper-slide article .cont_info {
        width: 40%;
        margin: 0px;
    }

    section.los-mejores .swiper-los-mejores .swiper-pagination {
        left: 62%;
        width: auto;
    }

    section.editorial article h3 {
        font-size: 1.25em;
    }

    section.editorial article p.fecha {
        font-size: 1.125em;
    }
}

@media all and (min-width: 1200px) {
    header .menu_up .wrap {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
    }

    header nav .wrap {
        margin: 0px auto;
        padding: 0px;
    }

    header nav.sticky .wrap {
        margin: 0 auto;
        padding: 0px;
    }

    section.mosaico_trabajos .cont_article article {
        max-width: 20%;
    }

    section.soluciones-integrales .cont_article article {
        padding: 0 50px;
    }

    section.formulario-contacto {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    footer .wrap {
        margin: 0 auto;
    }

    footer .wrap article p {
        font-size: 1.125em;
    }

    footer .wrap article p a {
        color: rgba(255, 255, 255, 0.66);
    }

    section.nuestras-criticas {
        max-width: 1200px;
        margin: inherit auto;
    }

    section.nuestras-criticas .cont_info {
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
    }

    section.nuestras-criticas .cont_info article {
        margin: 0px;
    }

    section.los-mejores {
        max-width: 1200px;
        margin: 0 auto;
    }

    section.editorial {
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto 30px;
    }
}
