mixin tituloSeccion(texto)
    h2.titulo_seccion&attributes(attributes)=texto


- var link_home = 'index.html'
- var link_servicios = 'servicios.html'
- var link_nosotros = 'nosotros.html'
- var link_trabajos = 'trabajos.html'
- var link_contacto = 'contacto.html'
- var link_quienes_somos = 'quienes_somos.html'
- var link_blog = 'blog.html'



- var path_image = "./media/image/"